%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @extend %flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    background: linear-gradient(to bottom, #51a6c7, #310f7c);
}

p {
    margin: 0;
    white-space: nowrap;
}

.container {
    @extend %flex;
    flex-direction: column;
    min-width: 40%;
    gap: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid white;
}

.row {
    width: 100%;

    &:nth-child(1) {
        @extend %flex;
        gap: 2rem;
        border-bottom: 1px solid white;
        padding-bottom: 1rem;

        img {
            width: 8rem;
            border-radius: 50%;
        }

        #username { font-size: 2.5rem; }
    }

    &:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 2rem 1rem;

        p {
            font-size: 1.5rem;

            &:nth-child(2n)::before {
                content: ":";
                padding-right: 1rem;
            }
        }
    }
}

button {
    color: white;
    padding: 0.5rem;
    background: transparent;
    border-radius: 0.125rem;
    border: 1px solid white;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
        color: #310f7c;
        background: white;
    }
}